/* Fonts ====================================================================
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Abel');

/* Helpers ==================================================================
   ========================================================================== */

/*.debug * { border: 1px solid #333 }*/

.x-flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/* HTML/Body ================================================================
   ========================================================================== */

html, body {height: 100%;}

body {
  background: black;
  margin: 0
}

/* Mbile ====================================================================
   ========================================================================== */

.mobile-wrap {
  color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
}

.mobile {
  width: 75%;
  max-width: 900px;
}

.mobile .mobile-splash img {
  width: 100%;
}

/* Intro Screen =============================================================
   ========================================================================== */

.intro-screen-wrap {
  width: 100%;
  height: 700px;
  position: absolute;
  top: 50%;
  margin-top: -350px;
}

.intro-screen {
  width: 1000px;
  height: 662px;
  left: 50%;
  background-image: url("./../assets/screens/intro-screen.svg");
  margin-left: -500px;
  position: absolute;
}

.intro-screen-wrap > .press-enter {
  width: 1000px;
  height: 38px;
  left: 50%;
  top: 662px;
  background-image: url("./../assets/screens/press-enter.png");
  margin-left: -500px;
  position: absolute;
}

/* Win Screen ===============================================================
   ========================================================================== */

.win-screen-wrap {
  width: 100%;
  height: 700px;
  position: absolute;
  top: 50%;
  margin-top: -350px;
}

.win-screen {
  width: 883px;
  height: 662px;
  left: 50%;
  background-image: url("./../assets/screens/win-screen.png");
  margin-left: -441px;
  position: absolute;
}

/* Lose Screen ==============================================================
   ========================================================================== */

.lose-screen-wrap{
  width: 100%;
  height: 700px;
  position: absolute;
  top: 50%;
  margin-top: -350px;
}

.lose-screen {
  width: 1000px;
  height: 700px;
  left: 50%;
  background-image: url('./../assets/screens/lose-screen.png');
  margin-left: -441px;
  position: absolute;
}


/* Game =====================================================================
   ========================================================================== */

.game {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Background & Foreground Layers ===========================================
   ========================================================================== */

.wallpaper { background: #111; }
.mansion { background-color: #1d1d1d; }

.tree-small { background-image: url('./../assets/level-01/tree-small.png'); }
.tree { background-image: url('./../assets/level-01/tree.png'); }
.tree-large { background-image: url('./../assets/level-01/tree-large.png'); }

.tombstone { background-image: url('./../assets/level-01/tombstone.svg'); }
.tombstone-cross { background-image: url('./../assets/level-01/tombstone-cross.svg'); }
.soil { background-color: black; }
.cliff { background-image: url('./../assets/level-01/cliff.svg'); }
.black-grass { background-image: url('./../assets/level-01/black-grass.svg'); }
.house { background-image: url('./../assets/level-01/house.svg'); }
.house-window { background-image: url('./../assets/level-01/house-window.svg'); }
.mansion-window { background-image: url('./../assets/level-01/mansion-window.svg'); }
.mansion-door-open { background-image: url('./../assets/level-01/mansion-door-open.svg'); }
.spider-web { background-image: url('./../assets/level-01/spider-web.svg'); }
.spider-thread { background-color: dimgrey; }
.water-top { background-image: url('./../assets/level-01/water-top.svg'); }
.fence-01 { background-image: url('./../assets/level-01/fence-01.svg'); }
.fence-02 { background-image: url('./../assets/level-01/fence-02.svg'); }
.wallpaper-accent { background-image: url('./../assets/level-01/wallpaper-accent.svg'); }
.inner-mansion-window { background-image: url('./../assets/level-01/inner-mansion-window.svg'); }
.phoney-ladder { background-image: url('./../assets/actors/ladder.svg'); }
.phoney-wall { background-color: #2d2d2d; }

/* Obstacles Layer ==========================================================
   ========================================================================== */

.background td {
  padding: 0;
  margin: 0;
  width: 20px;
}

.lava  { background: red  }
.water  { background-color: black }
.web { background-image: url('./../assets/level-01/spider-web.svg') }
.level0 .wall  { background-color: black }
.level1 .wall, .wood  { background-color: #2d2d2d }
.grass  { background-color: black }
.pseudo-wall  { background-color: black }

/* Actors Layer: Player =====================================================
   ========================================================================== */

/* Universal */
.actor { position: absolute }
.player {
  background-image: url('./../assets/actors/player.svg');
  /*border: 1px solid yellow;*/
}

.zombie {
  /*border: 1px solid white;*/
}

.sword {
  border: 1px solid pink;

}

/* Standing */
.player-standing-001 { background-position: -720px 0px; }
.player-standing-sword-001 { background-position: -960px 0px; }
.player-standing-sword-002 { background-position: -960px -150px; }
.player-standing-sword-003 { background-position: -960px -300px; }
.player-standing-sword-004 { background-position: -960px -450px; }

/* Running */
.player-running-001 { background-position: -720px 0px; }
.player-running-002 { background-position: -720px -150px; }
.player-running-003 { background-position: -720px -300px; }
.player-running-004 { background-position: -720px -450px; }
.player-running-005 { background-position: -720px -600px; }
.player-running-006 { background-position: -720px -750px; }
.player-running-sword-001 { background-position: -960px 0px; }
.player-running-sword-002 { background-position: -960px -150px; }
.player-running-sword-003 { background-position: -960px -300px; }
.player-running-sword-004 { background-position: -960px -450px; }

/* Squatting */
.player-squatting-001 { background-position: -240px 0px; }
.player-squatting-sword-001 { background-position: -240px 0px; }
.player-squatting-sword-002 { background-position: -240px -150px; }
.player-squatting-sword-003 { background-position: -240px -300px; }
.player-squatting-sword-004 { background-position: -240px -450px; }

/* Crawling */
.player-crawling-001 { background-position: 0px 0px; }
.player-crawling-002 { background-position: 0px -150px; }
.player-crawling-003 { background-position: 0px -300px; }
.player-crawling-004 { background-position: 0px -450px; }
.player-crawling-sword-001 { background-position: 0px -600px; }
.player-crawling-sword-002 { background-position: 0px -750px; }
.player-crawling-sword-003 { background-position: 0px -900px; }
.player-crawling-sword-004 { background-position: 0px -1050px; }

/* Jumping */
.player-jumping-001 { background-position: -720px 0px; }
.player-jumping-002 { background-position: -720px -150px; }
.player-jumping-003 { background-position: -720px -300px; }
.player-jumping-004 { background-position: -720px -450px; }
.player-jumping-005 { background-position: -720px -600px; }
.player-jumping-006 { background-position: -720px -750px; }
.player-jumping-sword-001 { background-position: -960px -0px; }
.player-jumping-sword-002 { background-position: -960px -150px; }
.player-jumping-sword-003 { background-position: -960px -300px; }
.player-jumping-sword-004 { background-position: -960px -450px; }

/* Climbing */
.player-climbing-001 { background-position: -480px 0px; }
.player-climbing-002 { background-position: -480px 0px; }
.player-climbing-003 { background-position: -480px -150px; }
.player-climbing-004 { background-position: -480px -150px; }
.player-climbing-005 { background-position: -480px -300px; }
.player-climbing-006 { background-position: -480px -300px; }
.player-climbing-007 { background-position: -480px -450px; }
.player-climbing-008 { background-position: -480px -450px; }

/* Actors Layer: Zombie =====================================================
   ========================================================================== */

.zombie { background-image: url('./../assets/actors/zombie.svg'); }

/* Walking */
.zombie-001-walking-001 { background-position: -0px 0px; }
.zombie-001-walking-002 { background-position: -0px 0px; }
.zombie-001-walking-003 { background-position: -0px -150px; }
.zombie-001-walking-004 { background-position: -0px -150px; }
.zombie-001-walking-005 { background-position: -0px -300px; }
.zombie-001-walking-006 { background-position: -0px -300px; }
.zombie-001-walking-007 { background-position: -0px -450px; }
.zombie-001-walking-008 { background-position: -0px -450px; }
.zombie-001-walking-009 { background-position: -0px -600px; }
.zombie-001-walking-010 { background-position: -0px -600px; }

.zombie-002-walking-001 { background-position: -240px 0px; }
.zombie-002-walking-002 { background-position: -240px 0px; }
.zombie-002-walking-003 { background-position: -240px -150px; }
.zombie-002-walking-004 { background-position: -240px -150px; }
.zombie-002-walking-005 { background-position: -240px -300px; }
.zombie-002-walking-006 { background-position: -240px -300px; }
.zombie-002-walking-007 { background-position: -240px -450px; }
.zombie-002-walking-008 { background-position: -240px -450px; }
.zombie-002-walking-009 { background-position: -240px -600px; }
.zombie-002-walking-010 { background-position: -240px -600px; }

/* Actors Layer: Spider =====================================================
   ========================================================================== */

.spider  { background-image: url('./../assets/actors/spider.png'); }

/* Actors Layer: Items ======================================================
   ========================================================================== */

.pizza { background-image: url('./../assets/actors/pizza.svg'); }
.ladder { background-image: url('./../assets/actors/ladder.svg'); }

/* Daggers Layer ============================================================
   ========================================================================== */

.dagger {
  background-image: url('./../assets/actors/dagger.svg');
}
.dagger.left {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/* Swords Layer =============================================================
   ========================================================================== */

.sword.left {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/*.sword {
  border: 1px solid yellow;
}*/


/* Status Layer =============================================================
   ========================================================================== */

.status-bar {
  width: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 20px;
}

.status-life-meter {
  width: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 20px;
}

.status-life-meter-partition:first-of-type {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.status-life-meter-partition:last-of-type {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.status-life-meter-partition {
  display: block;
  height: 20px;
  background: white;
  margin: 2px;
  opacity: 0.8;
  border: 2px solid pink;
}

.status-life-meter-partition-empty {
  display: block;
  height: 20px;
  background: white;
  margin: 2px;
  opacity: 0.2;
  border: 2px solid pink;
}

.status-life-meter-partition-empty:first-of-type {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.status-life-meter-partition-empty:last-of-type {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.status-score {
  width: 20px;
  position: fixed;
  top: 0px;
  left: 50px;
  margin: 10px;
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 40px;
}

.status-score-title {
  display: block;
  float:left;
  height: 40px;
  margin: 2px;
  opacity: 0.8;
}

.status-score-score {
  display: block;
  float:left;
  height: 40px;
  margin: 2px;
  opacity: 0.8;
}

.status-level {
  width: 200px;
  position: fixed;
  top: 0px;
  left: 50%;
  margin: 10px;
  margin-left: -100px;
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 40px;
}

.status-level-title {
  display: block;
  text-align: center;
  height: 40px;
  margin: 2px;
  opacity: 0.8;
}

.status-level-level {
  display: block;
  text-align: center;
  height: 40px;
  margin: 2px;
  opacity: 0.8;
}

.status-timer {
  width: 200px;
  position: fixed;
  top: 0px;
  right: 0%;
  margin: 10px;
  margin-left: -100px;
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 40px;
}

.status-timer-title {
  display: block;
  text-align: center;
  height: 40px;
  margin: 2px;
  opacity: 0.8;
}

.status-timer-timer {
  display: block;
  text-align: center;
  height: 40px;
  margin: 2px;
  opacity: 0.8;
}
